<header class="header">
    <a href="/" class="header_logo">CENGDEN</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/login" class="">Login</a>
            </li>
        </ul>
    </nav>

</header>